<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>Placements</h1>
    </div>
  </div>
</header>
<section>
  <article id="placements" class="container">
      <h3>Placements Details - (2012-2016)</h3>
      <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tr>
          <th><h4>S. No</h4></th>
          <th><h4>Companies</h4></th>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="./assets/placements/12-16/COGNIZANT.pdf" target="_blank">COGNIZANT</a></td>
        </tr>
        <tr>
          <td>2.</td>
          <td><a href="./assets/placements/12-16/HCL.pdf" target="_blank">HCL</a></td>
        </tr>
        <tr>
          <td>3.</td>
          <td><a href="./assets/placements/12-16/INFOSYS.pdf" target="_blank">INFOSYS</a></td>
        </tr>
        <tr>
          <td>4.</td>
          <td><a href="./assets/placements/12-16/MINDTREE.pdf" target="_blank">MINDTREE</a></td>
        </tr>
        <tr>
          <td>5.</td>
          <td><a href="./assets/placements/12-16/MUSIGMA.pdf" target="_blank">MU SIGMA</a></td>
        </tr>
        <tr>
          <td>6.</td>
          <td><a href="./assets/placements/12-16/SOFTGEN.pdf" target="_blank">SOFTGEN</a></td>
        </tr>
        <tr>
          <td>7.</td>
          <td><a href="./assets/placements/12-16/THOUGHTWORKS.pdf" target="_blank">THOUGHTWORKS</a></td>
        </tr>
        <tr>
          <td>8.</td>
          <td><a href="./assets/placements/12-16/UST.pdf" target="_blank">UST</a></td>
        </tr>
        <tr>
          <td>9.</td>
          <td><a href="./assets/placements/12-16/WOLTER.pdf" target="_blank">WOLTER</a></td>
        </tr>
        <tr>
          <td>10.</td>
          <td><a href="./assets/placements/12-16/ZOHO.pdf" target="_blank">ZOHO</a></td>
        </tr>
        <tr>
          <td>11.</td>
          <td><a href="./assets/placements/12-16/ACCENTURE.pdf" target="_blank">ACCENTURE</a></td>
        </tr>
        <tr>
          <td>12.</td>
          <td><a href="./assets/placements/12-16/WIPRO.pdf" target="_blank">WIPRO</a></td>
        </tr>
        <tr>
          <td>13.</td>
          <td><a href="./assets/placements/12-16/TECHMAHINDRA.pdf" target="_blank">TECH MAHINDRA</a></td>
        </tr>
        <tr>
      </table>
    </div>
      <h3>Placements Details - (2011-2015)</h3>
      <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tr>
          <th><h4>S. No</h4></th>
          <th><h4>Companies</h4></th>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="./assets/placements/11-15/ACCENTURE.pdf" target="_blank">ACCENTURE</a></td>
        </tr>
        <tr>
          <td>2.</td>
          <td><a href="./assets/placements/11-15/AMERICANMEGATRENDS.pdf" target="_blank">AMERICAN MEGATRENDS</a></td>
        </tr>
        <tr>
          <td>3.</td>
          <td><a href="./assets/placements/11-15/BRISKINFOSEC.pdf" target="_blank">BRISK INFOSEC</a></td>
        </tr>
        <tr>
          <td>4.</td>
          <td><a href="./assets/placements/11-15/COGNIZANT.pdf" target="_blank">COGNIZANT</a></td>
        </tr>
        <tr>
          <td>5.</td>
          <td><a href="./assets/placements/11-15/COMMVAULT.pdf" target="_blank">COMMVAULT</a></td>
        </tr>
        <tr>
          <td>6.</td>
          <td><a href="./assets/placements/11-15/DATACERT.pdf" target="_blank">DATACERT</a></td>
        </tr>
        <tr>
          <td>7.</td>
          <td><a href="./assets/placements/11-15/GLOBALSOFTSOLUTIONS.pdf" target="_blank">GLOBAL SOFT SOLUTIONS</a></td>
        </tr>
        <tr>
          <td>8.</td>
          <td><a href="./assets/placements/11-15/IDEAS2IT.pdf" target="_blank">IDEAS2IT</a></td>
        </tr>
        <tr>
          <td>9.</td>
          <td><a href="./assets/placements/11-15/INFOSYS.pdf" target="_blank">INFOSYS</a></td>
        </tr>
        <tr>
          <td>10.</td>
          <td><a href="./assets/placements/11-15/ITSSOLUTIONS.pdf" target="_blank">ITS SOLUTIONS</a></td>
        </tr>
        <tr>
          <td>11.</td>
          <td><a href="./assets/placements/11-15/MINDTREE.pdf" target="_blank">MINDTREE</a></td>
        </tr>
        <tr>
          <td>12.</td>
          <td><a href="./assets/placements/11-15/POLARIS.pdf" target="_blank">POLARIS</a></td>
        </tr>
        <tr>
          <td>13.</td>
          <td><a href="./assets/placements/11-15/RRDONELLEY.pdf" target="_blank">RR DONELLEY</a></td>
        </tr>
        <tr>
          <td>14.</td>
          <td><a href="./assets/placements/11-15/SCOPEINTERNATIONAL.pdf" target="_blank">SCOPE INTERNATIONAL</a></td>
        </tr>
        <tr>
          <td>15.</td>
          <td><a href="./assets/placements/11-15/TECHMAHINDRA.pdf" target="_blank">TECH MAHINDRA</a></td>
        </tr>
        <tr>
          <td>16.</td>
          <td><a href="./assets/placements/11-15/THOROGOODASSOCIATES.pdf" target="_blank">THOROGOOD ASSOCIATES</a></td>
        </tr>
        <tr>
          <td>17.</td>
          <td><a href="./assets/placements/11-15/TRIMBLE.pdf" target="_blank">TRIMBLE</a></td>
        </tr>
        <tr>
          <td>18.</td>
          <td><a href="./assets/placements/11-15/vembu.pdf" target="_blank">VEMBU</a></td>
        </tr>
        <tr>
          <td>19.</td>
          <td><a href="./assets/placements/11-15/VERIZON.pdf" target="_blank">VERIZON</a></td>
        </tr>
        <tr>
          <td>20.</td>
          <td><a href="./assets/placements/11-15/VERNALIS.pdf" target="_blank">VERNALIS</a></td>
        </tr>
        <tr>
          <td>21.</td>
          <td><a href="./assets/placements/11-15/VIRTUSA.pdf" target="_blank">VIRTUSA</a></td>
        </tr>
        <tr>
          <td>22.</td>
          <td><a href="./assets/placements/11-15/WIPROGLOBALINFRASTRUCTURE.pdf" target="_blank">WIPRO GLOBAL INFRASTRUCTURE</a></td>
        </tr>
        <tr>
          <td>23.</td>
          <td><a href="./assets/placements/11-15/WIPRO.pdf" target="_blank">WIPRO</a></td>
        </tr>
        <tr>
          <td>24.</td>
          <td><a href="./assets/placements/11-15/ZOHO.pdf" target="_blank">ZOHO</a></td>
        </tr>
      </table>
    </div>
  </article>
</section>
