<nav class="navbar navbar-default navbar-custom2  hidden-xs">
  <div id="nav-header">
    <img
      src="./assets/logo.png"
      width="110px"
      class="img-responsive"
      style="display:inline; float: left; padding-left: 20px"
    />
    <span class="hidden-xs" style=" padding-left: 220px;font-size: 25px;"
      >SHRI G. S. INSTITUTE OF TECHNOLOGY &amp; SCIENCE, INDORE
    </span>
    <span class="hidden-xs" style="font-size: 19px;  padding-left: 370px; "
      >Govt. Aided Autonomous Institute Estd. In 1952</span><br>
      <span class="hidden-xs" style="font-size: 15px; padding-left: 220px"
      >Affiliated to Rajiv Gandhi Proudyogiki Vishwavidyalaya, Bhopal & Devi Ahilya Vishwavidyalaya, Indore</span> 
      <img
      src="./assets/flag.jpg"
      width="110px"
      class="img-responsive"
      style="display:inline; float: right; margin-top: -80px"
    />
    </div>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li id="home" class="text-center">
        <a scrollTo="target" routerLink="/">HOME</a>
      </li>
      <li class="dropdown" class="text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          >PROFILE <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a scrollTo="target" routerLink="/about-us">ABOUT US</a></li>
          <li>
            <a scrollTo="target" routerLink="/vision-mission"
              >VISION &amp; MISSION</a
            >
          </li>
          <li><a scrollTo="target" routerLink="/about-us">PEO</a></li>
          <li><a scrollTo="target" routerLink="/about-us">PROGRAM OUTCOME</a></li>
        </ul>
      </li>
      <li class="dropdown" class="text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          >ACADEMICS <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li>
            <a scrollTo="target" routerLink="/schemes"
              >SCHEME &amp; SYLLABUS</a
            >
          </li>
          <li>
              <a scrollTo="target" routerLink="/courses"
                >COURSES</a
              >
            </li>
          <!-- <li><a scrollTo="target" routerLink="/academics">LESSON &amp; LAB PLAN</a></li>
          <li><a scrollTo="target" routerLink="/academics">COURSE MATERIALS</a></li>
          <li><a scrollTo="target" routerLink="/academics">MODULE COORDINATORS</a></li> -->
        </ul>
      </li>

      <li id="contact-us" class="text-center" class="dropdown">
        <a scrollTo="target" routerLink="/contact-us" class="dropdown-toggle" data-toggle="dropdown" href="#">FACULTY<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a scrollTo="target" routerLink="/faculty">FACULTY</a>
          </li>
          <li>
            <a scrollTo="target" routerLink="/staff">STAFF</a>
          </li>
        </ul>
     
      </li>
      <li class="dropdown" class="text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          >FACILITIES <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a scrollTo="target" routerLink="/lab">LABORATORY</a></li>
          <!-- <li><a scrollTo="target" routerLink="/laboratory">RESEARCH CELL</a></li> -->
        </ul>
      </li>
      <li class="dropdown" class="text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          >STUDENTS <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <!-- <li><a scrollTo="target" routerLink="/academics">RESEARCH</a></li> -->
          <li>
            <a scrollTo="target" routerLink="/achievements">ACHIEVEMENTS</a>
          </li>
          <li>
            <a scrollTo="target" routerLink="/academic"
              >ACADEMIC PERFORMANCE</a
            >
          </li>
        </ul>
      </li>
      
      
      <li class="dropdown" class="text-center">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          >RESEARCH <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li>
            <a scrollTo="target" routerLink="/supervisors">SUPERVISORS</a>
          </li>
          <li><a scrollTo="target" routerLink="/phd">Ph.D AWARDED</a></li>
          <li>
            <a scrollTo="target" routerLink="/research-scholars"
              >RESEARCH SCHOLARS</a
            >
          </li>
          <li>
            <a scrollTo="target" routerLink="/research-projects"
              >RESEARCH PROJECTS</a
            >
          </li>
          <li><a scrollTo="target" routerLink="/patents">PATENTS</a></li>
          <li>
            <a scrollTo="target" routerLink="/publications">PUBLICATIONS</a>
          </li>
        </ul>
      </li>
     
      <!-- <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >PLACEMENTS </span
          ></a>
      </li>  
      -->
      <li id="" class="text-center">
          <a scrollTo="target" routerLink="/placements">PLACEMENTS</a>
        </li>
        

      <!--<li class="text-center"><a scrollTo="target" routerLink="/gallery">NEWS</a></li>-->
      <li id="" class="text-center">
        <a scrollTo="target" routerLink="/gallery">GALLERY</a>
      </li>
      <li id="" class="text-center">
          <a scrollTo="target" routerLink="/news">NEWS &amp; EVENTS</a>
        </li>
        <li id="contact-us" class="text-center">
          <a scrollTo="target" routerLink="/alumni">ALUMNI</a>
        </li>
     
     
        <li id="contact-us" class="text-center" class="dropdown">
        <a scrollTo="target" routerLink="/contact-us" class="dropdown-toggle" data-toggle="dropdown" href="#">CONTACT US<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a scrollTo="target" routerLink="/contact">CONTACT US</a>
          </li>
          <li>
            <a scrollTo="target" routerLink="/suggestions">GIVE YOUR VALUABLE SUGGESTIONS</a>
          </li>
        </ul>
     
      </li>
    </ul>
  </div>
</nav>
<nav
  class="navbar navbar-default navbar-custom2 navbar-fixed-top hidden-sm hidden-md hidden-lg hidden-xl"
>
  <button
    type="button"
    id="navbarToggle"
    class="glyph-pad navbar-toggle collapsed btn-lg"
    data-toggle="collapse"
    data-target="#bs-example-navbar-collapse-1"
    aria-expanded="false"
  >
    <span class="fa fa-bars nav-icon" aria-hidden="true"></span>
  </button>
  <div class="container-fluid">
    <div class="navbar-header navbar-titles">
      <a href="/" class="navbar-brand" id="mob-head"
        ><span
          ><img class="logo" src="./assets/gs.jpg" width="50px" /><span
            id="sup"
          >
            Department of
          </span>
          Computer Science<span id="engg"> &amp; Engineering</span></span
        ></a
      >
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="home" class="text-center">
          <a scrollTo="target" routerLink="/">HOME</a>
        </li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >PROFILE <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a scrollTo="target" routerLink="/about-us">ABOUT US</a></li>
            <li>
              <a scrollTo="target" routerLink="/vision-mission"
                >VISION &amp; MISSION</a
              >
            </li>
            <li>
              <a scrollTo="target" routerLink="/peo-pso">PEO</a>
            </li>
            <li><a scrollTo="target" routerLink="/po">PROGRAM OUTCOME</a></li>
            <li><a scrollTo="target" routerLink="/gallery">GALLERY</a></li>
          </ul>
        </li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >ACADEMICS <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a scrollTo="target" routerLink="/syllabus"
                >SYLLABUS &amp; REGULATION</a
              >
            </li>
            <!-- <li><a scrollTo="target" routerLink="/academics">COURSE MATERIALS</a></li> -->
            <!-- <li><a scrollTo="target" routerLink="/academics">MODULE COORDINATORS</a></li> -->
            <!-- <li><a scrollTo="target" routerLink="/academics">LESSON &amp; LAB PLAN</a></li> -->
          </ul>
        </li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >FACULTY <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a scrollTo="target" routerLink="/faculty">FACULTY &amp; STAFF</a>
            </li>
            <li>
              <a scrollTo="target" routerLink="/faculty-mentors"
                >FACULTY MENTORS</a
              >
            </li>
          </ul>
        </li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >FACILITIES <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a scrollTo="target" routerLink="/laboratory">LABORATORY</a>
            </li>
            <!-- <li><a scrollTo="target" routerLink="/laboratory">RESEARCH CELL</a></li> -->
          </ul>
        </li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >STUDENTS <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <!-- <li><a scrollTo="target" routerLink="/academics">RESEARCH</a></li> -->
            <li>
              <a scrollTo="target" routerLink="/achievements">ACHIEVEMENTS</a>
            </li>
            <li>
              <a scrollTo="target" routerLink="/academic-performance"
                >ACADEMIC PERFORMANCE</a
              >
            </li>
          </ul>
        </li>
        <li id="lab" class="text-center">
          <a scrollTo="target" routerLink="/placements">PLACEMENTS</a>
        </li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >RESEARCH <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a scrollTo="target" routerLink="/supervisors">SUPERVISORS</a>
            </li>
            <li><a scrollTo="target" routerLink="/phd">Ph.D AWARDED</a></li>
            <li>
              <a scrollTo="target" routerLink="/research-scholars"
                >RESEARCH SCHOLARS</a
              >
            </li>
            <li>
              <a scrollTo="target" routerLink="/research-projects"
                >RESEARCH PROJECTS</a
              >
            </li>
            <li><a scrollTo="target" routerLink="/patents">PATENTS</a></li>
            <li>
              <a scrollTo="target" routerLink="/publications">PUBLICATIONS</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" class="text-center">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >PROFESSIONAL ACTIVITIES <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a scrollTo="target" routerLink="/professional-activities"
                >IEEE &amp; CSI</a
              >
            </li>
          </ul>
        </li>
        <!--<li class="text-center"><a scrollTo="target" routerLink="/gallery">NEWS</a></li>-->
        <li id="contact-us" class="text-center">
          <a scrollTo="target" routerLink="/contact-us">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="./assets/gs.jpg" class="img-responsive" width="100px" />
        <h4 class="margs3">
          Providing the best in computer education since 1983.
        </h4>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h4 class="justify">Contact Information</h4>
        <div class="row margs3">
          <div class="col-md-1 col-xs-1">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="col-md-11 col-xs-11 text-muted ">
            <p>
              Shri Govindram Seksaria Institute of Technology and Science 23 Sir
              M. Visvesvaraya Marg, Indore, Madhya Pradesh 452003
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-xs-1">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="col-md-11 col-xs-11 text-muted">
            <p>+91 - 731 - 2582100</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-xs-1">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="col-md-11 col-xs-11 text-muted">
            <p>director[at]sgsits.ac.in</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h4 class="justify">We are open</h4>

        <div class="margs3 text-muted">
          <p>Mon-Sat: 10:00 - 6:00 <br /></p>
        </div>
      </div>
    </div>
  </div>
  <section id="footer-section" class="text-center">
    <h4>
      &copy; Copyright © 2019 SGSITS. All Rights Reserved
    </h4>
  </section>
</footer>
